[submodule "fugitive"]
	path = fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "fzf.vim"]
	path = fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "git-gutter"]
	path = git-gutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "easy-align"]
	path = easy-align
	url = https://github.com/junegunn/vim-easy-align.git
